<!-- Get places nearby -->
<div id="get-places-button-container">
  <button mat-raised-button color="primary" (click)="onGetPlaces()">
    Get places nearby
    <mat-icon class="button-action-icon">near_me</mat-icon>
  </button>
</div>

<ng-template [ngIf]="placeResults && placeResults.length">

  <!-- Search -->
  <mat-form-field id="search-form-field">
    <mat-icon matPrefix class="search-icon">search</mat-icon>
    <input matInput type="text" placeholder="Name of the place" [(ngModel)]="searchValue" (ngModelChange)="onSearch()">
    <button mat-button *ngIf="searchValue" matSuffix mat-icon-button aria-label="Clear" (click)="onResetSearch()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <!-- Filters -->
  <div id="filters-container">
    <mat-checkbox color="primary" [(ngModel)]="filter.checked" *ngFor="let filter of filters"
      (ngModelChange)="onFilterChange()">{{ filter.getName() }}</mat-checkbox>
  </div>

  <!-- List of places -->
  <div id="places-list-container">
    <mat-accordion class="accordion-headers-align">

      <!-- Loop through places -->
      <app-place-item *ngFor="let place of places" [place]="place"></app-place-item>

    </mat-accordion>
  </div>
</ng-template>

<!-- Get more places -->
<div id="get-more-places-container" *ngIf="nextPageToken">
  <button mat-raised-button (click)="onGetMorePlaces()">
    Get more
    <mat-icon class="button-action-icon">arrow_downward</mat-icon>
  </button>
</div>

<!-- Loading places error -->
<ng-template [ngIf]="showLoadingError">
  <mat-card class="error">
    <span>Can't get nearby places.</span>
  </mat-card>
</ng-template>

<!-- Location error -->
<ng-template [ngIf]="showLocationError">
  <mat-card class="error">
    <span>Can't get location. {{ locationError }}</span>
  </mat-card>
</ng-template>

<!-- Spinner -->
<div class="spinner-container" *ngIf="showLoadingSpinner">
  <mat-spinner class="spinner"></mat-spinner>
</div>