<mat-expansion-panel>

  <mat-expansion-panel-header>

    <mat-panel-title>

      <!-- Place icon -->
      <div class="place-icon-container">
        <img src="{{ place.icon }}">
      </div>

      <!-- Place name -->
      {{ place.name }}
    </mat-panel-title>

  </mat-expansion-panel-header>

  <mat-list>

    <!-- Place rating -->
    <mat-list-item *ngIf="place.rating && place.user_ratings_total">
      <mat-icon>star_rate</mat-icon> {{ place.rating }} / 5 - {{ place.user_ratings_total }}
      {{ place.user_ratings_total === 1 ? 'review' : 'reviews' }}
    </mat-list-item>

    <!-- Place price level -->
    <mat-list-item *ngIf="place.price_level">
      <mat-icon class="money-icon" *ngFor="let i of [].constructor(place.price_level)">attach_money</mat-icon>
    </mat-list-item>

    <!-- Place Open/Closed -->
    <mat-list-item *ngIf="place.opening_hours">
      <mat-icon>av_timer</mat-icon>
      <span class="{{ place.opening_hours.open_now ? 'opening-hours-open' : 'opening-hours-closed' }}">
        {{ place.opening_hours.open_now ? 'Open' : 'Closed' }}
      </span>
    </mat-list-item>

    <!-- Place vicinity -->
    <mat-list-item>
      <mat-icon>place</mat-icon>
      {{ place.vicinity }}
    </mat-list-item>

    <!-- Place Maps link -->
    <mat-list-item>
      <mat-icon>map</mat-icon>
      <a mat-raised-button
        href="https://www.google.com/maps/search/?api=1&query={{ place.vicinity }}&query_place_id={{ place.place_id }}"
        target="_blank">
        Open in Google Maps
      </a>
    </mat-list-item>

  </mat-list>
</mat-expansion-panel>