#get-places-button-container {
    margin-bottom: 16px;
}

.example-form-field {
    margin-left: 15px;
    width: 300px;
}

#filters-container {
    margin: 8px 0 25px 16px;
}

#filters-container .mat-checkbox {
    margin-right: 16px;
}

.places-list-container {
    max-width: 800px;
}

.establishment-icon-container {
    margin-right: 16px;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: start;
  align-items: center;
}

.example-headers-align .mat-expansion-panel-header-description {
    flex-grow: 1.5;
}

.mat-list-item .mat-icon {
    margin-right: 16px;
}

.mat-list-item .money-icon {
    margin-right: -10px;
}

.opening-hours-open {
    color: green;
}

.opening-hours-closed {
    color: #DB4437;
}

#load-more-places-button-container {
    margin-top: 16px;
}

.search-icon {
    margin-right: 8px;
    position: relative;
    top: 7px;
}

.button-action-icon {
    margin-right: 0;
    margin-left: 8px;
}