/*
******************
                  General
******************
*/

.button-action-icon {
    margin-right: 0;
    margin-left: 8px;
}

.search-icon {
    margin-right: 8px;
    position: relative;
    top: 7px;
}

.accordion-headers-align .mat-expansion-panel-header-title,
.accordion-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: start;
  align-items: center;
}

.accordion-headers-align .mat-expansion-panel-header-description {
    flex-grow: 1.5;
}

.error {
    display: inline-block;
    color: #a94442;
    background-color: #f2dede;
}

.spinner-container {
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
}

.spinner {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-left: -4em;
}

/*
******************
                  Get places
******************
*/

#get-places-button-container {
    margin-bottom: 16px;
}

/*
******************
                  Search
******************
*/

#search-form-field {
    margin-left: 15px;
    width: 300px;
}

/*
******************
                  Filters
******************
*/

#filters-container {
    margin: 8px 0 25px 16px;
    max-width: 800px;
}

#filters-container .mat-checkbox {
    margin-right: 16px;
}

/*
******************
                  List of places
******************
*/

#places-list-container {
    max-width: 800px;
}

.place-icon-container {
    margin-right: 16px;
}

.place-icon-container img {
    height: 24px;
}

.mat-list-item .mat-icon {
    margin-right: 16px;
}

.mat-list-item .money-icon {
    margin-right: -10px;
}

.opening-hours-open {
    color: green;
}

.opening-hours-closed {
    color: #DB4437;
}

/*
******************
                  Get more places
******************
*/

#get-more-places-container {
    margin-top: 16px;
}