/*
******************
                  Imports
******************
*/

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*
******************
                  General
******************
*/

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.button-action-icon {
  margin-right: 0;
  margin-left: 8px;
}

.search-icon {
  margin-right: 8px;
  position: relative;
  top: 7px;
}

.accordion-headers-align .mat-expansion-panel-header-title,
.accordion-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  justify-content: start;
  align-items: center;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  flex-grow: 1.5;
}

.mat-accordion .mat-expansion-panel:first-of-type {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-bottom-right-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.error {
  display: inline-block;
  color: #a94442;
  background-color: #f2dede;
}

.spinner-container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
}

.spinner {
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -4em;
}